
.view {
  padding: 0 32px;
  color: rgba(48, 64, 84, 0.71);
  
  text-decoration: none;
  border-top: 2px solid transparent;
  height:100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.view.active {
  color: rgba(48, 64, 84, 0.91);
  text-decoration: none;
  border-color: #1676f4;
}
