.orders-counter {
  position: relative;
  text-align: center;
  height: calc(18vh - 64px);
  min-height: 180px;
  padding: 10px;
}

.count-wrapper {
  position: absolute;
  display: block;
  top: 0;
  height: 100%;
  width: 100%;
  left: 0;
  text-align: center;
  padding-top: 32px;
}
.count-digit {
  font-size: 44px;
}
.subtitle {
  color: var(--valo-secondary-text-color);
  font-size: 14px;
}
h4 {
  margin: 0;
}
.chart-wrapper {
  height: 120px;
  display: block;
}
#solid-gauge {
  width:100%;
  height:100%;
  overflow: hidden;
}
